:root {
    @media (prefers-color-scheme: light) {
        --background: #eff1f5;

        --color: #4c4f69;
    }

    @media (prefers-color-scheme: dark) {
        --background: #1e1e2e;

        --color: #cdd6f4;
    }
}
