body {
  /*
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  background-color: #d3d3d3;
  background-image: linear-gradient(315deg, #d3d3d3 0%, #7bed9f 74%);
  */
  background-color: #eee;
}

.last-name {
  border-width: 2px;
}

.item {
  /* visibility: hidden; */
}

@media only screen and (max-width: 768px) {
  .last-name {
    border-width: 1px;
  }
}

.item p {
  /* letter-spacing: 2px; */
}

.text {
  margin-top: 10px;
}

.tilt {
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

.title {
  font-size: 100px;
}

@media only screen and (max-width: 767px) {
  .title {
    font-size: 13vw;
  }
}

@media only screen and (max-width: 60em) {
  .arrow-down {
    display: none;
  }
}

.tilt-more {
  -webkit-transform: rotate(-9deg);
  transform: rotate(-6deg);
}

.visible {
  visibility: visible;
}

.title {
  font-family: "brandon-grotesque", sans-serif;
  font-family: "tablet-gothic-wide", sans-serif;
  text-shadow:
    0 .005em #001b44,
    .005em 0 #001b44,
    .005em .010em #001b44,
    .010em .005em #001b44,
    .010em .015em #001b44,
    .015em .010em #001b44,
    .015em .020em #001b44,
    .020em .015em #001b44,
    .020em .025em #001b44,
    .025em .020em #001b44,
    .025em .030em #001b44,
    .030em .025em #001b44,
    .030em .035em #001b44,
    .035em .030em #001b44,
    .035em .040em #001b44,
    .040em .035em #001b44,
    .040em .045em #001b44,
    .045em .040em #001b44,
    .045em .050em #001b44,
    .050em .045em #001b44,
    .050em .055em #001b44,
    .055em .050em #001b44,
    .055em .060em #001b44,
    .060em .055em #001b44,
    .060em .065em #001b44,
    .065em .060em #001b44,
    .065em .070em #001b44,
    .070em .065em #001b44,
    .070em .075em #001b44,
    .075em .070em #001b44,
    .075em .080em #001b44,
    .080em .075em #001b44,
    .080em .085em #001b44,
    .085em .080em #001b44,
    .085em .090em #001b44,
    .090em .085em #001b44,
    .090em .095em #001b44,
    .095em .090em #001b44,
    .095em .100em #001b44,
    .100em .095em #001b44,
    .100em .105em #001b44,
    .105em .100em #001b44,
    .105em .110em #001b44,
    .110em .105em #001b44;

  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
  letter-spacing: 3px;
}

.title2 {
  font-family: "brandon-grotesque", sans-serif;
  font-family: "tablet-gothic-wide", sans-serif;
  text-shadow:
    0 .005em green,
    .005em 0 green,
    .005em .010em green,
    .010em .005em green,
    .010em .015em green,
    .015em .010em green,
    .015em .020em green,
    .020em .015em green,
    .020em .025em green,
    .025em .020em green,
    .025em .030em green,
    .030em .025em green,
    .030em .035em green,
    .035em .030em green,
    .035em .040em green,
    .040em .035em green,
    .040em .045em green,
    .045em .040em green,
    .045em .050em green,
    .050em .045em green,
    .050em .055em green,
    .055em .050em green,
    .055em .060em green,
    .060em .055em green,
    .060em .065em green,
    .065em .060em green,
    .065em .070em green,
    .070em .065em green,
    .070em .075em green,
    .075em .070em green,
    .075em .080em green,
    .080em .075em green,
    .080em .085em green,
    .085em .080em green,
    .085em .090em green,
    .090em .085em green,
    .090em .095em green,
    .095em .090em green,
    .095em .100em green,
    .100em .095em green,
    .100em .105em green,
    .105em .100em green,
    .105em .110em green,
    .110em .105em green;

  -webkit-transform: rotate(-9deg);
  transform: rotate(-9deg);
}
